<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="NextJs" stopProcessing="true">
          <match url="^(deploytrack($|/.*))$" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
          <action type="Rewrite" url="http://localhost:9002/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <allowedServerVariables>
        <add name="HTTP_X_FORWARDED_HOST" />
    </allowedServerVariables>
  </system.webServer>
</configuration>
